[submodule ".registry"]
	path = .registry
	url = https://github.com/bvancil/bvancil.r-universe.dev
	branch = HEAD
[submodule "multimeter"]
	path = multimeter
	url = https://github.com/bvancil/multimeter
